{% extends "restaurant_app/base.html" %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h2 class="card-title text-center mb-4">Реєстрація</h2>
                <form method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label_tag }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg mt-3">Зареєструватися</button>
                    </div>
                </form>
                <div class="border-top pt-3 mt-3 text-center">
                    Вже маєте акаунт? <a href="{% url 'login' %}">Увійти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}